/* Override the default styles for the progress bar */
.video-react .video-react-progress-holder {
    background: #ddd; /* Background color of the progress bar */
  }
  
  .video-react .video-react-play-progress {
    background: yellow; /* Change the progress bar color to yellow */
  }
  
  .video-react .video-react-slider {
    background: yellow;
    color: black; /* Change the slider color to yellow */
  }
  
  .video-react{

    background-color: aqua;
  }